@import "../../shared/_styling/variables.scss";

.txLogin {
  background: var(--txBg);
  font-family: Montserrat-Regular;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: auto;
  height: 100%;
  vertical-align: center;
  justify-content: center;
  label {
    color: #537178;
    font-family: var(--font-medium);
    margin-bottom: 0.5rem;
  }
  input {
    background: var(--txTextarea);
    border: none;
    // box-shadow: 0px 0px 5px 0px lightgray;
    border-radius: 8px;
    height: 1.5rem;
    width: 16rem;
    padding: 0.5rem 1rem;
    &:focus {
      box-shadow: 0px 0px 8px 0px lightblue;
    }
  }
  button {
    font-family: Montserrat-Regular;
    background: var(--txButtonBg);
    height: 2.5rem;
    width: 18rem;
    border: none;
    box-shadow: 0px 0px 3px 0px lightgray;
    border-radius: 8px;
    padding: 0.5rem 1rem;
    color: white;
    font-size: 13px;
    &:hover:not([disabled]) {
      opacity: 0.7;
    }
    &:active {
      opacity: 0.5;
    }
    &:focus {
      box-shadow: 0px 0px 8px 0px lightblue;
    }
    &:disabled {
      opacity: 0.6;
    }
  }
}

.loginInner {
  background: white;
  padding: 2rem 1.5rem;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  gap: 1rem;
  box-shadow: 0px 3px 6px #00000029;
}